<!DOCTYPE html>

<html>
	<head>
		<!--<link href="./static/css/bootstrap.min.css" rel="stylesheet">-->
		<link href="webume.css" rel="stylesheet">
		<script src="./static/js/vendor/jquery-1.6.4.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
		<script src="./static/js/vendor/underscore-1.2.1.js"></script>
		<script src="./static/js/vendor/backbone.js"></script>
		<script src="./static/js/vendor/backbone-localstorage.js"></script>
		<script src="models.js"></script>
		<script src="collections.js"></script>
		<script src="objects.js"></script>
		<script src="views.js"></script>
		<!--
		<script src="./static/js/vendor/bootstrap/bootstrap-alerts.js"></script>
		<script src="./static/js/vendor/bootstrap/bootstrap-modal.js"></script>
		<script src="./static/js/vendor/bootstrap/bootstrap-dropdown.js"></script>
		<script src="./static/js/vendor/bootstrap/bootstrap-twipsy.js"></script>
		<script src="./static/js/vendor/bootstrap/bootstrap-popover.js"></script>
		<script src="./static/js/vendor/bootstrap/bootstrap-scrollspy.js"></script>
		<script src="./static/js/vendor/bootstrap/bootstrap-tabs.js"></script>
		-->
	</head>

	<body>
		<!-- App Container -->
		<div id="container">
			<div id="basics">
			</div>
			<div id="education">
				<h1> Education </h1>
				<a href="#" id="add-education">[+]</a>
				<ul id="education-list"></ul>
			</div>
			<div id="professional">
				<h1> Professional </h1>
				<a href="#" id="add-professional">[+]</a>
				<ul id="professional-list"></ul>
			</div>
			<div id="skills">
				<h1> Skills </h1>
				<a href="#" id="add-skill">[+]</a>
				<ul id="skill-list"></ul>
			</div>
			<div id="activities">
				<h1> Activities </h1>
				<a href="#" id="add-activity">[+]</a>
				<ul id="activity-list"></ul>
			</div>
			<div id="projects">
				<h1> Projects </h1>
				<a href="#" id="add-project">[+]</a>
				<ul id="project-list"></ul>
			</div>
		</div>

		<!-- Templates -->
		<script type="text/template" id="basics-template">
			<div id="basics-singleton" class="basics">
				<form id="basic_info_input" class="data">
					<input class="h1 name_input" type="text" placeholder="Name" value="<%= name %>"/>
					<div class="user_details">
						<input class="basics_address" type="text" placeholder="Address" value="<%= address %>"/>
						|
						<input class="basics_city" type="text" placeholder="City" value="<%= city %>"/>,
						<input class="basics_state" type="text" placeholder="State" value="<%= state %>"/>
						<input class="basics_zip" type="text" placeholder="Zip" value="<%= zip %>"/>
						|
						<input class="phone" type="text" placeholder="217-867-5309" value="<%= phone %>"/>
						|
						<input class="email_addr" type="text" placeholder="you@domain.com" value="<%= email %>"/>
					</div>
				</form>
			</div>
		</script>

		<script type="text/template" id="education-template">
			<a href="#" class="destroy-education">[-]</a>
			<div class="education">
				<form class="data">
					<input class="education_name" value="<%= school %>"/>
					<input class="education_degree" value="<%= degree %>"/>
					<input class="education_concentration" value="<%= concentration %>"/>
				</form>
			</div>
		</script>

		<script type="text/template" id="professional-template">
			<a href="#" class="destroy-professional">[-]</a>
			<div class="professional">
				<form class="data">
					<input class="workplace_name" value="<%= workplace %>"/>
					<input class="workplace_title" value="<%= workplace_title %>"/>
					<input class="workplace_brief" value="<%= workplace_brief %>"/>
					<ul id="accomplished_things"></ul>
				</form>
				</ul>
			</div>
		</script>

		<script type="text/template" id="skill-template">
			<a href="#" class="destroy-skill">[-]</a>
			<div class="skill">
				<form class="data">
					<input class="skill_type" value="<%= type %>"/>
					<input class="skills" value="<%= skills %>"/>
				</form>
			</div>
		</script>

		<script type="text/template" id="activity-template">
			<a href="#" class="destroy-activity">[-]</a>
			<div class="activity">
				<form class="data">
					<input class="activity_name" value="<%= activity_name %>"/>
					<input class="activity_position" value="<%= position %>"/>
					<input class="activity_description" value="<%= activity_description %>"/>
				</form>
			</div>
		</script>

		<script type="text/template" id="project-template">
			<a href="#" class="destroy-project">[-]</a>
			<div class="project">
				<form class="data">
					<input class="project_name" value="<%= project_name %>"/>
					<input class="project_description" value="<%= project_description %>"/>
					<input class="project_github_uri" value="<%= github_uri %>"/>
				</form>
			</div>

		</script>
	</body>
</html>
