body {
}

input.h1 {
	font-weight: bold;
	font-size: 2em;
}

form.data input {
	border: none;
	outline: none;
	border-bottom: 2px dotted transparent;
}

div.editing form.data input, li.editing form.data input {
	border: none;
	outline: none;
	border-bottom: 2px dotted #0000FF;
}
